%h2 Add a new review for #{@place.name}

- flash.each do |key, value|
  = content_tag :div, value, class: "alert alert-#{key}"

- review = Review.new
= simple_form_for(review, url: place_reviews_path(@place.id)) do |f|
  .form-group
    = f.label :review
    = f.text_field :comment, class: "form-control"

  .form-group
    = f.label :rate
    = f.text_field :rate, class: "form-control"

  .form-group
    = f.submit "Submit", class: "btn btn-default"
