= simple_form_for(@place) do |f|
  .form-group
    = f.label :name
    = f.text_field :name, class: "form-control"
  .form-group
    = f.label :adress
    = f.text_field :adress, class: "form-control"
  .form-group
    = f.label :description
    = f.text_field :description, class: "form-control"
  .form-group
    = f.label :lat
    = f.text_field :lat, class: "form-control"
  .form-group
    = f.label :long
    = f.text_field :long, class: "form-control"
  .form-group
    = f.label :rate
    = f.text_field :rate, class: "form-control"
  .form-group
    = f.submit "Submit", class: "btn btn-default"