%h3= @place.name
/ The div element for the map

%iframe{:allowfullscreen => "", :frameborder => "0", :height => "300", :src => "#{google_map(address)}", :style => "border:0", :width => "100%"}

%table.table.table-hover
  %thead
    %tr
      %th{scope: "col"} Name
      %th{scope: "col"} Address
      %th{scope: "col"} Publisher rate
      %th{scope: "col"} Average rate
      %th{scope: "col"} Description
      - if user_signed_in? && current_user.id == @place.publisher_id
        %th{:scope => "col"} Actions
  %tbody
    %tr
      %td= @place.name
      %td= @place.street.to_s + " " + @place.house_number + ", " + @place.city.to_s
      %td= @place.rate.to_s + "/5"
      %td= '%.02f' % @place.avg_rate.to_s + "/5"
      %td= @place.description
      - if user_signed_in? && current_user.id == @place.publisher_id
        %td
          = link_to 'Edit', edit_place_path(@place), class: 'btn btn-warning btn-xs'
          = link_to 'Delete', place_path(@place), method: :delete, data: {confirm: 'Are you sure?'}, class: 'btn btn-danger btn-xs'
      - else
        %td

%p
  = link_to "<-- Back", root_path

%br/

- if user_signed_in?
  .content
    = render partial: 'reviews/reviews', place: @place
- else
  .content
    %h4 You have to #{link_to 'log in', new_user_session_path} to add review for this place
    %br/
.content
  = render partial: 'reviews/show', place: @place

-
