%h3 My Google Maps Demo
/ The div element for the map
#map
:javascript
  // Initialize and add the map
  function initMap() {
    // The location of Uluru
    var uluru = {lat: #{@lat}, lng: {lat: #{@lng}};
    // The map, centered at Uluru
    var map = new google.maps.Map(
        document.getElementById('map'), {zoom: 4, center: uluru});
    // The marker, positioned at Uluru
    var marker = new google.maps.Marker({position: uluru, map: map});
    var marker = new google.maps.Marker({position: uluru, map: map});
  }
%script{async: "", defer: "defer", :src => "https://maps.googleapis.com/maps/api/js?key=AIzaSyB2DCsia93rK597KrNyKCSq-a-ZMrWs0xo&callback=initMap"}
  :cdata

%table.table.table-hover
  %thead
    %tr
      %th{scope: "col"} Name
      %th{scope: "col"} Adress
      %th{scope: "col"} Rate
  %tbody
    %tr
      %td= @place.name
      %td= @place.adress
      %td= @place.rate.to_s

%p
  = link_to "<-- Back", root_path


%h4 Add new review for  this place

.content
  = render partial: 'reviews/reviews', place: @place

.content
  = render partial: 'reviews/show', place: @place
