!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title NccWaw
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    %nav.navbar.navbar-default
      .container
        .navbar-header
          %a.navbar-brand{href: root_path} OPENwifi
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
          - if user_signed_in?
            %ul.nav.navbar-nav
              %li= link_to current_user.decorate.username, root_path
              %li= link_to "Log out", destroy_user_session_path, :method => :delete
          - else
            %ul.nav.navbar-nav
              %li
                %a{href: new_user_registration_path} Sign up
              %li
                %a{href: new_user_session_path} Sign in
          %form.navbar-form.navbar-right
            .form-group
              %input.form-control{:placeholder => "Search", :type => "text"}/
            %button.btn.btn-default{:type => "submit"} Submit
    .container
      - flash.each do |key, value|
        = content_tag :div, value, class: "alert alert-#{key}"
      = yield