!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title NccWaw
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    %nav.navbar.navbar-default
      .container-fluid
        .navbar-header
          %a.navbar-brand{href: root_path} Brand
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
          - if user_signed_in?
            %ul.nav.navbar-nav
              %li
                %li= link_to "Log out", destroy_user_session_path, :method => :delete
          - else
            %ul.nav.navbar-nav
              %li
                %a{href: new_user_registration_path} Sign up
              %li
                %a{href: new_user_session_path} Sign in
          %form.navbar-form.navbar-right
            .form-group
              %input.form-control{:placeholder => "Search", :type => "text"}/
            %button.btn.btn-default{:type => "submit"} Submit
        / %nav.navbar.navbar-expand-lg.navbar-light.bg-light
        /   #navbarSupportedContent.collapse.navbar-collapse
        /     %ul.navbar-nav.mr-auto
        /       %li.nav-item
        /         - unless  user_signed_in?
        /           %nav.navbar.navbar-expand-lg.navbar-light.bg-light
        /             #navbarSupportedContent.collapse.navbar-collapse
        /               %ul.navbar-nav.mr-auto
        /                 %li.nav-item
        /                   %a.nav-link{href: new_user_registration_path} Sign up
        /           %a.p-2.text-dark{ href: new_user_registration_path} Sign up
        /           %a.p-2.text-dark{ href: new_user_session_path} Sign in
        /         - else
        /           %p= current_user.decorate.username
        /           %a.p-2.text-dark{ href: destroy_user_session_path} Logout
    = yield

/ https://github.com/twbs/bootstrap-sass
/ https://html2haml.herokuapp.com/